<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>削除の確認</title>
</head>
<body>
    <h1>投稿の削除</h1>
    <p>本当に投稿 "{{ post.title }}" を削除しますか？</p>
    <form action="{% url 'post_delete' post.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="削除する">
        <button type="button" onclick="window.history.back()">キャンセル</button>
    </form>
    <a href="{% url 'post_list' %}" class="button">投稿一覧へ</a>
    <a href="{% url 'signout' %}" class="button">ログアウト</a>
    <button class="button" onclick="location.href='/mail/contact/'">お問い合わせページはこちら</button>
</body>
</html>
